body {
    background-color: black;
}

h1 {
    text-align: center;
    color:darkturquoise;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    
}


.huu {
    text-align: center;
    font-family: 'IBM Plex Serif';
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}


 a {
    color: darkturquoise;
 }

 .iuu {
    color: white;
    margin-left: 80px;
    font-family: 'IBM Plex Serif';
 }
 
 .second{
color:aliceblue;
margin: 80px;
 }

 .first{
    color: aliceblue;
    margin: -50px;
 }

 .sigma{
    color: aliceblue;
    margin-left: 80px;
    
 }

.root{
    color: #FFFFFF;
    text-align: center;
    font-family: 'IBM Plex Serif';
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: auto;
 }
